.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    top: 50%;
    left: 50%;
    outline: 1px solid white;
    transform-origin: top left;
    transform: scale(3) translate(-50%, -55%);
}

.game-container canvas {
    image-rendering: pixelated;
}