@import url('https://fonts.googleapis.com/css?family=Dongle&display=swap');

:root {
    --border-color: #291d4d;
    --dialog-background: #fff3b4;

    --menu-background: #ffe8d2;
    --menu-border-color: #a48465;
    --menu-font-color: #3a160d;
    --menu-selected-background: #7fc2ff;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.text-message {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 36px;
    font-size: 12px;
    font-family: 'Dongle';
    padding: 4px;
    background: var(--menu-background);
    border-top: 1px solid var(--menu-border-color);
    color: var(--menu-font-color);
}

.text-message_p {
    margin: 0;
    font-size: 16px;
    line-height: 14px;
}

.text-message_p span {
    opacity: 0;
}

.text-message_p span.revealed {
    opacity: 1;
}

.text-message_button {
    margin: 0;
    padding: 0;
    font-size: 8px;
    -webkit-appearance: none;
    background: none;
    border: 0;
    font-family: inherit;
    cursor: pointer;
    position: absolute;
    right: 2px;
    bottom: 0;
}

.scene-transition {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    animation: scene-transition-fade-in 0.3s ease-in-out forwards;
}

.fade-out {
    animation: scene-transition-fade-out 0.3s ease-in-out forwards;
}

@keyframes scene-transition-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scene-transition-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}



.battle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('assets/images/maps/StreetBattle.png');
    background-size: cover;
    image-rendering: pixelated;
}

.battle-hero,
.battle-enemy {
    position: absolute;
    transform: scale(2);
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: url('assets/images/characters/shadow.png')
}

.battle-hero img,
.battle-enemy img {
    pointer-events: none;
}

.battle-hero {
    bottom: 57px;
    left: 1px;
}

.battle-hero img {
    transform: translateY(-64px);
}

.battle-enemy {
    top: 42px;
    right: -1px;
}



.combatant {
    width: 67px;
    height: 14px;
    background: url("assets/images/ui/combatant-plate.png") no-repeat no-repeat;
    position: absolute;
}

.combatant[data-team="player"] {
    top: 70px;
    left: 50px;
}

.combatant[data-team="enemy"] {
    top: 28px;
    right: 77px;
}

.combatant-character-crop {
    position: absolute;
    bottom: 1px;
    left: 3px;
    width: 22px;
    height: 12px;
    overflow: hidden;
}

.combatant-character {
    display: block;
    position: absolute;
    left: -11px;
    bottom: -7px;
}

.combatant-name {
    position: absolute;
    left: -2px;
    top: -8px;
    white-space: nowrap;
    background: var(--menu-font-color);
    color: white;
    font-size: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
}

.combatant-type {
    position: absolute;
    left: 3px;
    top: -2px;
    width: 16px;
    height: 16px;
}

.combatant-life-container {
    position: absolute;
    left: 20px;
    top: 4px;
    width: 26px;
    height: 3px;
}

.combatant-life-container>rect {
    transition: width 0.2s ease-in-out;
}

.combatant-xp-container {
    position: absolute;
    left: 20px;
    top: 8px;
    width: 26px;
    height: 2px;
}

.combatant-level {
    position: absolute;
    font-size: 12px;
    right: 2px;
    top: -1px;
    width: 17px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8c594;
    border: 1px solid #a48465;
    margin: 0;
}

.combatant-status {
    position: absolute;
    font-size: 5px;
    left: 47px;
    bottom: -3px;
    padding-left: 2px;
    padding-right: 2px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    margin: 0;
}

.combatant-status[data-status="saucy"] {
    color: red;
}

.combatant-status[data-status="clumsy"] {
    color: #582a79;
}

.battle .combatant-character-crop {
    display: none;
}

.battle .combatant {
    transform: scale(2);
}

.battle .combatant[data-active="false"] {
    opacity: 0;
}

.battle .combatant[data-active="true"] {
    opacity: 1;
}

.pizza {
    position: absolute;
    transform: scale(2);
    background: url('./assets/images/characters/pizzas/pizza-shadow.png') no-repeat no-repeat;
}

.pizza[data-team="player"] {
    bottom: 73px;
    left: 51px;
}

.pizza[data-team="enemy"] {
    top: 47px;
    right: 100px;
}

.pizza[data-active="false"] {
    opacity: 0;
}

.pizza[data-active="true"] {
    opacity: 1;
}